
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #1232A6;
    padding-top: 56px;
    padding-bottom: 50px;
    padding-left: 36px;
    padding-right: 36px;
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 100%;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #FFFFFF;
    padding-top: 48px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
    margin-left: 300px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 00px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

.ui-button {
    border: none !important;
    font-family:'DM Sans', Arial;
    text-shadow: none !important;
    background-color: #1232A6;
}

.inline {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.ui-selectonemenu-label{
    font-family: 'DM Sans', Arial;
}

.ui-paginator {
    font-family: 'DM Sans', Arial;
    background-image: none !important;
    background-color: white !important;
    border: none;
}

.ui-inputfield {
    width: 100%;
}

.ui-datatable-header{
    background-color: #1232A6;
}

th {
    background-color: #1232A6 !important;
    background-image: none !important;
    color: white !important;
    text-shadow: none !important;
    border: none !important;
}

.ui-float-label {
    width: 100%; 
}

.ui-inputtext, .ui-password {
    width: 100% !important; 
    box-sizing: border-box;
}

.ui-password .ui-icon {
    position: absolute;
    right: 0;
    top: 0;
}

.ui-datatable-footer {
    background: none !important;
    border: none!important;
}

.ui-message-icon {
    display: none;
}

.form-center {
    display:flex;
    justify-content: center;
}